# Ethereum configuration
ETHEREUM_PRIVATE_KEY=your_ethereum_private_key

# Coinbase AgentKit
COINBASE_CDP_KEY=your_coinbase_cdp_key
COINBASE_CDP_SECRET=your_coinbase_cdp_secret
COINBASE_CDP_CLIENT_KEY=your_coinbase_cdp_client_key

# Etherscan
ETHERSCAN_API_KEY=your_etherscan_api_key


# Azure API
AZURE_API_KEY=your_azure_api_key = AZURE_OPENAI_API_KEY
AZURE_SERVICE_ENPOINT=https://your-instance-name.openai.azure.com/

# Recall environment variables
RECALL_PRIVATE_KEY=your_recall_private_key
RECALL_BUCKET_ALIAS=not-yet-set
RECALL_COT_LOG_PREFIX=cot
RECALL_BATCH_SIZE=4
RECALL_SYNC_INTERVAL=120000
RECALL_NETWORK=testnet

# Azure OpenAI API
AZURE_OPENAI_API_INSTANCE_NAME=your_instance_name
AZURE_OPENAI_API_DEPLOYMENT_NAME=your_deployment_name
AZURE_OPENAI_API_KEY=your_azure_openai_api_key
AZURE_OPENAI_API_VERSION=2024-11-20

PORT=3000
NODE_ENV=development
MARLIN_ENCLAVE=false